/* Login form */
.form-login-icon-title {
    background-image: url("../images/icons/small/locked.png")
}

.form-login-header {
    background: transparent url("../images/icons/large/lock.png") no-repeat 97% 50%;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 45px 10px 10px;
}

.form-login-header .error {
    color: red;
}

.form-login-icon-login {
    background-image: url("../images/icons/medium/login.png")
}

.form-login-icon-cancel {
    background-image: url("../images/icons/medium/close.png")
}

.form-login-warning {
    background: url("../images/icons/small/warning.png") no-repeat center left;
    padding: 2px;
    padding-left: 20px;
    font-weight: bold;
}

/* Navigation */

.expand {
    background-image: url('../images/icons/small/expand.png') !important;
}

.collapse {
    background-image: url('../images/icons/small/collapse.png') !important;
}

.datalink div{
   text-decoration: underline;
    cursor: pointer;
}

.logout {
    background-image: url('../images/icons/small/logout.png') !important;
}


.add {
    background-image:url('../images/add.png') !important;
}
.remove {
    background-image:url('../images/delete.png') !important;
}

.ib-actioncolumn {
    height:16px;
    width:16px;
    cursor:pointer;
    margin-left:3px;
}



.ib-button-icon-generate_password {
    background-image: url('../images/icons/small/key_add.png') !important;
}

.ib-button-icon-save {
    background-image: url('../images/icons/small/disk.png') !important;
}

.ib-button-icon-cancel {
    background-image: url('../images/icons/small/cross.png') !important;
}

.ib-button-icon-next {
    background-image: url('../images/icons/small/next.png') !important;
}
.ib-button-icon-previous {
    background-image: url('../images/icons/small/back.png') !important;
}
.ib-button-icon-send {
    background-image: url('../images/icons/small/email.png') !important;
}

.ib-button-icon-delete {
    background-image: url('../images/icons/small/delete.png') !important;
}

.ib-button-icon-add {
    background-image: url('../images/icons/small/add.png') !important;
}

.ib-button-icon-useradd {
    background-image: url('../images/icons/small/user_add.png') !important;
}


.ib-button-icon-search {
    background-image: url('../images/icons/small/search.png') !important;
}

.ib-button-icon-reset {
    background-image: url('../images/icons/small/reset.png') !important;
}

.ib-button-icon-export {
    background-image: url('../images/icons/small/export.png') !important;
}


.ib-actioncolumn-edit {
    background-image: url('../images/icons/small/edit.png') !important;

}
.ib-actioncolumn-delete {
    background-image: url('../images/icons/small/delete.png') !important;
}

.ib-actioncolumn-detail {
    background-image: url('../images/icons/small/detail.png') !important;
}